/*Navigation*/
#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f4623a;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f4623a !important;
}

/*Masthead*/
header.masthead {
    padding-top: 10rem;
    padding-bottom: 14rem;
    background-image: url("../img/h_img.jpg");
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}
header.masthead h1 {
    font-size: 2.25rem;
    color: #FFFFFF;
}
header.masthead p {
    color: #ffffff;
}

/*About*/
.page-section#about {
    padding: 8rem 0;
}

.page-section#about p {
    line-height: 2;
}

/*Services*/
.page-section#services {
    padding: 8rem 0;
}
.service-detail{
    background-image: url("../img/s_image.jpg");
    background-repeat:  no-repeat;
    /*background-attachment: scroll;*/
    /*background-position: center;*/
    /*background-size: cover;*/
}

.design-detail, .dev-detail, .product-detail{
    display: none;
}

.project-name{
    display:none;
}

.sitepreview_item{
    position:relative;
}

.hover_content{
    position:absolute;
    right:40%;
    top:45%;
    display:none;
    color: white;
}

#portfolio {
    box-sizing: border-box;
}
#portfolio .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
#portfolio .row .column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.portfolio-img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.hover_content p {
    color: black;
}


/*Footer*/
footer{
    width: 100%;
    height: auto;
    margin: auto;
}

.social_icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.social_icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social_icons ul li {
    display: inline-block;
    margin: 10px;
    list-style: none;
}
